/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2020, 3:19:18 PM
    Author     : Martin
*/

body{
    background: url("SmartCard.png") no-repeat center center fixed;
    
}

h1{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color:#416F49;
}












.navi{
    text-align: center;
}

.button{
    padding: 6px 7px;
    text-decoration: none;
    color:#fff;
    background-color: #C96E3F;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    font-size:18px;
    
    
}

.button:hover{background-color: #EF8930}

.button:active{
    background-color: #416F49;
}

.notificationDiv{
  margin: auto;
  width: 50%;
  text-align: center;
}

table{
    
    margin:0 auto;
    padding:0;
}

tr>th{
    background:#0066ff;
    border-right: 1px solid white;
    color:white;
    padding:6px 8px;
    text-align:center;
}

.createDiv{
    margin: auto;
    width: 50%;
    padding:0;
    text-align: center;
}
.container{
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}
.searchDiv{
  width: 30%;
  height: 200px;

  float: left;
  text-align: right;
}

.billingSearchDiv{
  margin-left: 10%;
  height: 200px;
  
}
.billingtable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
